.theme-dark{
  --bg-color-01:#121212;
  --color-01:#DADADA;
  --color-02:#1E1E1E;
  --color-03:#8f8f8f;
  --color-04:#1D1D1D;
  --color-05:#2D2D2D;
  --color-06:#353535;
  --color-07:#f1f1f1;


}
.theme-light{
  --bg-color-01:white;

  --color-02:white;
  --color-03:back;
  --color-04:white;
  --color-05:#dcdde1;
  --color-06:#dcdde1;
  --color-07:#1D1D1D;

}
div.modal-header{
    background-color: var(--color-04);
    color: var(--color-07);
}
div.modal-body{
    background-color: var(--color-04);
    color: var(--color-07);
}
.theme-label{
    color: var(--color-03);
}
button#nav-home-tab.nav-link{
    color: var(--color-07);
}
button#nav-home-tab.nav-link.active{
    background-color: var(--color-04);
    color: var(--color-07);
}
button#nav-contact-tab.nav-link.active{
    background-color: var(--color-04);
    color: var(--color-07);
}
button#nav-contact-tab.nav-link{
    color: var(--color-07);
}
button#nav-profile-tab.nav-link{
    color: var(--color-07);
}
button#nav-profile-tab.nav-link.active{
    background-color: var(--color-04);
    color: var(--color-07);
}
.theme-label{
    color: var(--color-07);
}
td,th{
    color:var(--color-07);
}
body{
  background-color: var(--bg-color-01);
  transition: background 0.3s linear;
}
p{
 color: var(--color-03);
}
h1, h2, h3, h4, h5{
   color: #08c5bc;
}
.card{
    border-radius: 8px;
    border: initial;
    background-color: var(--color-02);
    color: var(--color-03);
}

.image-product{
    width: 170px;
    height: 150px;
}
.image-small-product{
    width: 80px;
    height: 80px;
}
.image-large-product{
    width: 180px;
    height: 180px;
}

.icon-m1{
    height: 45px;
}
.icon-m2{
    height: 30px;
}
.icon-m3{
    height: 16px;
}
.icon-m4{
    height: 30px;
}
.icon-m5{
    height: 25px;
}
.icon-m6{
    height: 45px;
}
.btn-01{
    /*background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);*/
    background-color: var(--color-05);
    padding: 10px;
    border-radius: 100%;
    height: 70px;
    width: 70px;
}
.btn-01 {
    /*color: hsl(243, 80%, 62%);*/

    color: #f1f1f1;
    transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}


.btn-01:hover {
    transform: scale(1.10);
}

.btn-01:active {
    transform: scale(.9);
}
.btn-02{
    /*background-color: rgb(255, 255, 255);*/
    background-color: var(--color-05);
    padding: 10px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}
.btn-02{
    /*background-color: hsl(0, 0%, 100%);*/
    /*color: hsl(243, 80%, 62%);*/
    color: #f1f1f1;
    transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;
}

.btn-03{
    /*background-color: rgb(255, 255, 255);*/
    background-color: var(--color-05);
    padding: 10px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    align-items: center;
}
.btn-03{

    /*color: hsl(243, 80%, 62%);*/
    transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;

}

.btn-04{
    /*background-color: rgb(255, 255, 255);*/
    padding: 10px;
    border-radius: 100%;
    height: 45px;
    width: 45px;
    align-items: center;
}
.btn-04{
    /*background-color: #dfe4ea;*/
    background-color: var(--color-05);
    /*color: hsl(243, 80%, 62%);*/
    transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;

}

.sales-info{
    display: flex;
}

.btn-secondary{
    border-radius: 25px;
    /*background-color: #dfe4ea;*/
    background-color: var(--color-05);
    color: var(--color-03);
    border-style: hidden;
    box-shadow: hidden;
}
.btn-secondary:hover{
  background-color: #08c5bc;
}
.card-m1{
  /*background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);*/
  background-color: var(--color-04);
  border: initial;
}
.form-check-input:checked {
  background-color: #08c5bc;
  border: initial;
}
.card-header{
    border-bottom: 0px solid rgba(255, 255, 255, 0);
}
.baseboard-product{
    /*background-color: #EDEDED;*/
    /*background-color: #DADADA;*/
    background-color: var(--color-01);
}

.alter{
    border-radius: 42px;
}
.alert-info-product {
  border-radius: 45px;
  /*background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);*/
  background-color: var(--color-04);
  padding: 5px;
  width: 260px;
}
.alert-info-product {
  display: flex;
}

.alert{
    border-radius: 30px;
}
.btn-primary{
    border-radius: 25px;
    background-color: #08c5bc;
    border-color: rgba(1, 109, 91, 0.795);
    color: var(--color-07);
}
.btn-primary:hover{
    background-color: #08c5bc;
}
.baseboard-product{
  border-radius: 8px;
  background-color: var(--color-05);
}

.btn-primary:hover{
    color:#fff;background-color:#08c5bc;border-color:#08c5bc;
}
.btn-check:focus+.btn-primary,.btn-primary:focus{
    color:#fff;background-color:#08c5bc;;border-color:#08c5bc;box-shadow:0 0 0 .25rem rgba(38, 236, 203, 0.5);
}
.btn-check:active+.btn-primary,.btn-check:checked+.btn-primary,.btn-primary.active,.btn-primary:active,.show>.btn-primary.dropdown-toggle{
    color:#fff;background-color:#08c5bc;border-color:#08c5bc;
}
.btn-check:active+.btn-primary:focus,.btn-check:checked+.btn-primary:focus,.btn-primary.active:focus,.btn-primary:active:focus,.show>.btn-primary.dropdown-toggle:focus{
    box-shadow:0 0 0 .25rem rgba(38, 236, 203, 0.5);
}
.btn-primary.disabled,.btn-primary:disabled{
    color:#fff;background-color:#08c5bc;border-color:#08c5bc;
}
.form-control{
  border-radius: 25px;
  /*background-color: #f8f8f8;*/
  background-color: var(--color-06);
  color: rgb(92, 92, 92);
  border: initial;

}
.form-select.form-control-lg.mt-2{
  border-radius: 25px;
  /*background-color: #f8f8f8;*/
  background-color: var(--color-06);
  color: rgb(139, 139, 139);
  border: initial;
}

/*Animação de loading*/
.donutSpinner {
    display: inline-block;
    border: 4px solid hsl(222 100% 95%);
    border-left-color: rgba(1, 109, 91, 0.795);;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: donut-spin 1.2s linear infinite;
}

@keyframes donut-spin {
    to {
        transform: rotate(1turn);
    }
}

.btnHide{
    display: none;
}
.msnContainer{
    display: none;
}


/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  input:checked + .slider {
    background-color: #2196f3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
